@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?b01j17');
  src:  url('/fonts/icomoon.eot?b01j17#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?b01j17') format('truetype'),
    url('/fonts/icomoon.woff?b01j17') format('woff'),
    url('/fonts/icomoon.svg?b01j17#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-group-chat:before {
  content: "\e910";
  color: #8a9aa7;
}
.icon-about:before {
  content: "\e933";
  color: #8a9aa7;
}
.icon-alert:before {
  content: "\e958";
  color: #8a9aa7;
}
.icon-applause:before {
  content: "\e923";
  color: #8a9aa7;
}
.icon-application:before {
  content: "\e94e";
  color: #8a9aa7;
}
.icon-audio_off_1:before {
  content: "\e9040";
  color: #8a9aa7;
}
.icon-audio_off:before {
  content: "\e91b";
  color: #8a9aa7;
}
.icon-audio_on:before {
  content: "\e91a";
  color: #8a9aa7;
}
.icon-chat:before {
  content: "\e919";
  color: #8a9aa7;
}
.icon-check:before {
  content: "\e918";
  color: #8a9aa7;
}
.icon-checkmark:before {
  content: "\e946";
  color: #8a9aa7;
}
.icon-circle:before {
  content: "\e914";
  color: #8a9aa7;
}
.icon-add:before {
  content: "\e917";
  color: #8a9aa7;
}
.icon-circle_close:before {
  content: "\e916";
  color: #8a9aa7;
}
.icon-substract:before {
  content: "\e915";
  color: #8a9aa7;
}
.icon-circle_tool:before {
  content: "\e91d";
  color: #8a9aa7;
}
.icon-clear-status:before {
  content: "\e90f0";
  color: #8a9aa7;
}
.icon-close:before {
  content: "\e912";
  color: #8a9aa7;
}
.icon-closed-caption:before {
  content: "\e957";
  color: #8a9aa7;
}
.icon-confused:before {
  content: "\e911";
  color: #8a9aa7;
}
.icon-copy:before {
  content: "\e94a";
  color: #8a9aa7;
}
.icon-desktop:before {
  content: "\e928";
  color: #8a9aa7;
}
.icon-desktop_off:before {
  content: "\e953";
  color: #8a9aa7;
}
.icon-download:before {
  content: "\e93c";
  color: #8a9aa7;
}
.icon-download_off:before {
  content: "\e955";
  color: #8a9aa7;
}
.icon-template_upload:before {
  content: "\e93a";
  color: #8a9aa7;
}
.icon-exit_fullscreen:before {
  content: "\e935";
  color: #8a9aa7;
}
.icon-file:before {
  content: "\e91a0";
  color: #8a9aa7;
}
.icon-star_filled:before {
  content: "\e952";
  color: #8a9aa7;
}
.icon-fit_to_screen:before {
  content: "\e929";
  color: #8a9aa7;
}
.icon-fit_to_width:before {
  content: "\e922";
  color: #8a9aa7;
}
.icon-fullscreen:before {
  content: "\e92a";
  color: #8a9aa7;
}
.icon-group_chat:before {
  content: "\e91f0";
  color: #8a9aa7;
}
.icon-hand:before {
  content: "\e90f";
  color: #8a9aa7;
}
.icon-happy:before {
  content: "\e90e";
  color: #8a9aa7;
}
.icon-help:before {
  content: "\e9220";
  color: #8a9aa7;
}
.icon-left_arrow:before {
  content: "\e9230";
  color: #8a9aa7;
}
.icon-line-tool:before {
  content: "\e9240";
  color: #8a9aa7;
}
.icon-listen:before {
  content: "\e9250";
  color: #8a9aa7;
}
.icon-listen_filled:before {
  content: "\e9260";
  color: #8a9aa7;
}
.icon-lock:before {
  content: "\e9270";
  color: #8a9aa7;
}
.icon-logout:before {
  content: "\e9280";
  color: #8a9aa7;
}
.icon-minus:before {
  content: "\e9290";
  color: #8a9aa7;
}
.icon-more:before {
  content: "\e92a0";
  color: #8a9aa7;
}
.icon-multi_whiteboard_icon:before {
  content: "\e92b0";
  color: #8a9aa7;
}
.icon-multi_whiteboard:before {
  content: "\e93d";
  color: #8a9aa7;
}
.icon-unmute:before {
  content: "\e931";
  color: #8a9aa7;
}
.icon-mute_filled:before {
  content: "\e938";
  color: #8a9aa7;
}
.icon-network:before {
  content: "\e942";
  color: #8a9aa7;
}
.icon-new_file:before {
  content: "\e94f";
  color: #8a9aa7;
}
.icon-pen_tool:before {
  content: "\e925";
  color: #8a9aa7;
}
.icon-plus:before {
  content: "\e921";
  color: #8a9aa7;
}
.icon-pointer:before {
  content: "\e950";
  color: #8a9aa7;
}
.icon-polling:before {
  content: "\e927";
  color: #8a9aa7;
}
.icon-popout_window:before {
  content: "\e956";
  color: #8a9aa7;
}
.icon-presentation:before {
  content: "\e90b";
  color: #8a9aa7;
}
.icon-promote:before {
  content: "\e903";
  color: #8a9aa7;
}
.icon-record:before {
  content: "\e941";
  color: #8a9aa7;
}
.icon-redo:before {
  content: "\e943";
  color: #8a9aa7;
}
.icon-refresh:before {
  content: "\e949";
  color: #8a9aa7;
}
.icon-right_arrow:before {
  content: "\e90a";
  color: #8a9aa7;
}
.icon-room:before {
  content: "\e93c0";
  color: #8a9aa7;
}
.icon-rooms:before {
  content: "\e93f";
  color: #8a9aa7;
}
.icon-sad:before {
  content: "\e909";
  color: #8a9aa7;
}
.icon-send:before {
  content: "\e934";
  color: #8a9aa7;
}
.icon-settings:before {
  content: "\e92b";
  color: #8a9aa7;
}
.icon-shortcuts:before {
  content: "\e94b";
  color: #8a9aa7;
}
.icon-speak_louder:before {
  content: "\e947";
  color: #8a9aa7;
}
.icon-rectangle_tool:before {
  content: "\e91f";
  color: #8a9aa7;
}
.icon-star:before {
  content: "\e951";
  color: #8a9aa7;
}
.icon-text_tool:before {
  content: "\e920";
  color: #8a9aa7;
}
.icon-thumbs_down:before {
  content: "\e92c";
  color: #8a9aa7;
}
.icon-thumbs_down_filled:before {
  content: "\e944";
  color: #8a9aa7;
}
.icon-thumbs_up:before {
  content: "\e92d";
  color: #8a9aa7;
}
.icon-thumbs_up_filled:before {
  content: "\e945";
  color: #8a9aa7;
}
.icon-time:before {
  content: "\e908";
  color: #8a9aa7;
}
.icon-transfer_audio:before {
  content: "\e94d";
  color: #8a9aa7;
}
.icon-trash:before {
  content: "\e936";
  color: #8a9aa7;
}
.icon-triangle_tool:before {
  content: "\e94d0";
  color: #8a9aa7;
}
.icon-undecided:before {
  content: "\e907";
  color: #8a9aa7;
}
.icon-undo:before {
  content: "\e924";
  color: #8a9aa7;
}
.icon-unlock:before {
  content: "\e940";
  color: #8a9aa7;
}
.icon-mute:before {
  content: "\e932";
  color: #8a9aa7;
}
.icon-unmute_filled:before {
  content: "\e937";
  color: #8a9aa7;
}
.icon-up_arrow:before {
  content: "\e906";
  color: #8a9aa7;
}
.icon-upload:before {
  content: "\e92f";
  color: #8a9aa7;
}
.icon-template_download:before {
  content: "\e93b";
  color: #8a9aa7;
}
.icon-user:before {
  content: "\e905";
  color: #8a9aa7;
}
.icon-video:before {
  content: "\e930";
  color: #8a9aa7;
}
.icon-video_off:before {
  content: "\e904";
  color: #8a9aa7;
}
.icon-warning:before {
  content: "\e94c";
  color: #8a9aa7;
}
.icon-whiteboard_icon:before {
  content: "\e95a0";
  color: #8a9aa7;
}
.icon-whiteboard:before {
  content: "\e93e";
  color: #8a9aa7;
}
.icon-audio_icon_blue:before {
  content: "\e95c";
  color: #25385d;
}
.icon-headphones_bluecolor:before {
  content: "\e95d";
  color: #25385d;
}
