@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?b01j17');
  src:  url('/fonts/icomoon.eot?b01j17#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?b01j17') format('truetype'),
    url('/fonts/icomoon.woff?b01j17') format('woff'),
    url('/fonts/icomoon.svg?b01j17#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about:before {
  content: "\e900";
}
.icon-add:before {
  content: "\e901";
}
.icon-alert:before {
  content: "\e902";
}
.icon-applause:before {
  content: "\e903";
}
.icon-application:before {
  content: "\e904";
}
.icon-audio_off:before {
  content: "\e905";
}
.icon-audio_on:before {
  content: "\e906";
}
.icon-chat:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-checkmark:before {
  content: "\e909";
}
.icon-circle:before {
  content: "\e90a";
}
.icon-circle_close:before {
  content: "\e90b";
}
.icon-circle_tool:before {
  content: "\e90c";
}
.icon-clear_status:before {
  content: "\e90d";
}
.icon-close:before {
  content: "\e90e";
}
.icon-closed_caption:before {
  content: "\e90f";
}
.icon-confused:before {
  content: "\e910";
}
.icon-contract_outline:before {
  content: "\e911";
}
.icon-copy:before {
  content: "\e912";
}
.icon-delete:before {
  content: "\e913";
}
.icon-desktop:before {
  content: "\e914";
}
.icon-desktop_off:before {
  content: "\e915";
}
.icon-download:before {
  content: "\e916";
}
.icon-download_file:before {
  content: "\e917";
}
.icon-download-off:before {
  content: "\e918";
}
.icon-exit_fullscreen:before {
  content: "\e919";
}
.icon-expand_outline:before {
  content: "\e91a";
}
.icon-file:before {
  content: "\e91b";
}
.icon-filled_star:before {
  content: "\e91c";
}
.icon-fit_to_screen:before {
  content: "\e91d";
}
.icon-fit_to_width:before {
  content: "\e91e";
}
.icon-fullscreen:before {
  content: "\e91f";
}
.icon-group_chat:before {
  content: "\e920";
}
.icon-hand:before {
  content: "\e921";
}
.icon-hand_left_outline:before {
  content: "\e922";
}
.icon-headphones_bluecolor:before {
  content: "\e923";
  color: #25385d;
}
.icon-help:before {
  content: "\e924";
}
.icon-icon-audio_icon_blue:before {
  content: "\e925";
  color: #25385d;
}
.icon-left_arrow:before {
  content: "\e926";
}
.icon-line_tool:before {
  content: "\e927";
}
.icon-listen:before {
  content: "\e928";
}
.icon-listen_filled:before {
  content: "\e929";
}
.icon-lock:before {
  content: "\e92a";
}
.icon-logout:before {
  content: "\e92b";
}
.icon-minus:before {
  content: "\e92c";
}
.icon-more:before {
  content: "\e92d";
}
.icon-more_horizonta:before {
  content: "\e92e";
}
.icon-more_settings:before {
  content: "\e92f";
}
.icon-multi_whiteboard:before {
  content: "\e930";
}
.icon-mute:before {
  content: "\e931";
}
.icon-mute_filled:before {
  content: "\e932";
}
.icon-network:before {
  content: "\e933";
}
.icon-new_file:before {
  content: "\e934";
}
.icon-pen_tool:before {
  content: "\e935";
}
.icon-plus:before {
  content: "\e936";
}
.icon-pointer:before {
  content: "\e937";
}
.icon-polling:before {
  content: "\e938";
}
.icon-popout_window:before {
  content: "\e939";
}
.icon-presentation:before {
  content: "\e93a";
}
.icon-promote:before {
  content: "\e93b";
}
.icon-record:before {
  content: "\e93c";
}
.icon-rectangle_tool:before {
  content: "\e93d";
}
.icon-redo:before {
  content: "\e93e";
}
.icon-refresh:before {
  content: "\e93f";
  color: #0f70d7;
}
.icon-right_arrow:before {
  content: "\e940";
}
.icon-room:before {
  content: "\e941";
}
.icon-rooms:before {
  content: "\e942";
}
.icon-sad:before {
  content: "\e943";
}
.icon-send:before {
  content: "\e944";
}
.icon-settings:before {
  content: "\e945";
}
.icon-shortcuts:before {
  content: "\e946";
}
.icon-smile:before {
  content: "\e947";
}
.icon-speak_louder:before {
  content: "\e948";
}
.icon-star:before {
  content: "\e949";
}
.icon-substract:before {
  content: "\e94a";
}
.icon-taderok:before {
  content: "\e94b";
  color: #ffffff
}
.icon-template_download:before {
  content: "\e94c";
}
.icon-template_upload:before {
  content: "\e94d";
}
.icon-text_tool:before {
  content: "\e94e";
}
.icon-thumbs_down:before {
  content: "\e94f";
}
.icon-thumbs_down_filled:before {
  content: "\e950";
}
.icon-thumbs_up:before {
  content: "\e951";
}
.icon-thumbs_up_filled:before {
  content: "\e952";
}
.icon-time:before {
  content: "\e953";
}
.icon-transfer_audio:before {
  content: "\e954";
}
.icon-triangle_tool:before {
  content: "\e955";
}
.icon-undecided:before {
  content: "\e956";
}
.icon-undo:before {
  content: "\e957";
}
.icon-unlock:before {
  content: "\e958";
}
.icon-unmute:before {
  content: "\e959";
}
.icon-unmute_filled:before {
  content: "\e95a";
}
.icon-up_arrow:before {
  content: "\e95b";
}
.icon-upload:before {
  content: "\e95c";
}
.icon-user:before {
  content: "\e95d";
}
.icon-video:before {
  content: "\e95e";
}
.icon-video_off:before {
  content: "\e95f";
}
.icon-warning:before {
  content: "\e960";
}
.icon-whiteboard:before {
  content: "\e961";
}
