@import "/imports/ui/stylesheets/variables/_all";

/* Variables
 * ==========
 */

:root {
  --loader-bg: var(--color-gray-dark);
  --loader-bullet: var(--color-white);
  --loader-message-color: var(--color-white);
}

.background {
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ECF3FC;
}

.message {
  font-size: var(--font-size-large);
  color: var(--color-white);
  text-align: center;
}

.spinner {
  width: 100%;
  text-align: center;
  height: 22px;
  margin-bottom: var(--md-padding-x);
}

.spinner > div {
  width: 18px;
  height: 18px;
  margin: 0 5px;
  background-color: var(--loader-bullet);
  border-radius: 100%;
  display: inline-block;

  :global(.animationsEnabled) & {
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
}

.spinner .bounce1 {
  :global(.animationsEnabled) & {
    animation-delay: -0.32s;
  }
}

.spinner .bounce2 {
  :global(.animationsEnabled) & {
    animation-delay: -0.16s;
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #0F70D7;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
