
body{
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ECF3FC;
}

.arrow-container{
  width: 300px;
  height: 300px;
  margin: 0;
  position: absolute;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.arrow-1{
  width: 300px;
  height: 300px;
  background: #0F70D7;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
}

.arrow-2{
  width: 180px;
  height: 180px;
  background: #0F70D7;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 1;
  display: table;
}

.arrow-2:before{
  width: 156px;
  height: 156px;

  position: absolute;
  top: 6px;
  left: 6px;
}

.arrow-2 i{
  font-size: 120px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #0c53a0;
}

.forever {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
}

/* Custom Animate.css */

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}
